<div class="container-fullwidth" id="navbarHeader">
    <img class="logoImg" src="https://www.pngrepo.com/png/126491/170/traffic-light.png" height="50px" width="50px">
    <a href="/dashboard"> &nbsp; Home &nbsp; | </a>
    <a href="/logout">&nbsp; Log Out &nbsp; | </a>
    <a href="/questionaire2">My Account &nbsp; | </a>
    <a href="/matches"> &nbsp; Matches</a>
</div>


<div class="container col-md-4" id="userInfoCard">
    <div class="card shadow" style="width: 100%; margin-bottom: 40px; border:none;">
        <img id="cardUserImg" src="" height="400" width="520" class="card-img-top img-fluid" alt="...">
        <div class="card-body" style="border: 1px solid black">
            {{#each browse}}
            {{browse.getUsers}}
            {{/each}}
            <h3 class="card-title" id="cardUsername"></h3>
            <h3 class="card-text" id="cardUserCity"></h3>
            <h3 class="card-text" id="cardUserCar"></h3>
            <h5 class="card-text" id="cardUserAbout"></h5>
        </div>
    </div>



    {{!-- <div class="row" id="userBio">
        {{#each browse}}
        <div class="col-md">
            {{browse.getUsers}}
        </div>
        {{/each}}

        <div class="row">
            <h4 id="userDetails"></h4>
        </div> --}}
    <div class="row" id="RGBtn">
        <button type="input" id="redBtn">Red Light</button>
        <button type="input" id="greenBtn">Green Light</button>
    </div>
</div>







<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"
    integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script>

<script src="/js/browse.js"></script>