<div class="container-fullwidth" id="navbarHeader">
    <img class="logoImg" src="https://www.pngrepo.com/png/126491/170/traffic-light.png" height="50px" width="50px">
    {{!-- <li class="nav-item active">
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <button onclick="signOut()">sign out</button>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Sign up</a>
        </li> --}}
</div>

<div class="container" id="userInfoCard">
    <div class="row">
        <div class="col-md">
            <div id="userImage">
                <img src="http://philboxing.com/news/pix/paul.walker.200x200.jpg" width="300" height="300"
                    class="img-fluid" />
            </div>
                <div class="col-md" id="userBio">
                    <h1>Paul Walker</h1>
                    <h3>Minneapolis, MN</h3>
                </div>
            <div class="row">
                <p>"Some people say I love cars so much that nothing else in life matters." 
                </p>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="row">
            <div class="col-md-6">
                <a href="">red light</a>
            </div>
            <div class="col-md-6">
                <a href="">red light</a>
            </div>
        </div> --}}