<div class="container-fullwidth" id="navbarHeader">
    <img class="logoImg" src="https://www.pngrepo.com/png/126491/170/traffic-light.png" height="50px" width="50px">
    <a href="/logout">log out</a>
</div>

<h1 style="text-align: center">What would you like to do?</h1>

<form id="buttonForm">
    <a href="/browse"><button id="browseBtn" class="form">
            <h4>Find your future race partner</h4>
        </button></a>
    <a href="/matches"><button id="matchBtn" class="form">
            <h4>See your existing matches</h4>
        </button></a>
</form>

<div id="ferrariImg">
    <img src="http://pngimg.com/uploads/ferrari/ferrari_PNG10680.png" class="img-fluid" />
</div>