<div class="container-fullwidth" id="navbarHeader">
  <img class="logoImg" src="images/traffic-light-pngrepo-com.png" height="50px" width="50px">
  {{!-- <a href="/logout">log out &nbsp; | </a>
  <a href="/dashboard"> &nbsp; Home </a> --}}
</div>


<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12" style="text-align: center">
        <h1 id="loginHeader">The only place to find fellow car enthusiasts</h1>
      </div>
    </div>
  </div>
</div>




<div class="container carFormContainer">˛
  <div class="row">
    <div class="container carContainer col-md-9">
      <img
        src="images/Civic.png"
        class="img-fluid">
    </div>


    
    <div class="container login-page col-md-6">
      <form class="form login-form">
        <input id="username" name="username" type="text" placeholder="username" aria-label="username" />
        <input id="password" name="password" type="password" placeholder="password" aria-label="password" />
        <button id="signin-btn">login</button>
        <p class="message">Not registered? <a href="/questionaire">Create an account</a></p>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/signin.js"></script>