<div class="container-fullwidth" id="navbarHeader">
  <img class="logoImg" src="https://www.pngrepo.com/png/126491/170/traffic-light.png" height="50px" width="50px">
  <a href="/dashboard"> &nbsp; Home &nbsp; | </a>
  <a href="/logout">&nbsp; Log Out &nbsp; | </a>
  <a href="/questionaire2">My Account &nbsp; | </a>
  <a href="/browse"> &nbsp; Browse</a>
</div>

<div id="matchesH1">
  <h1>It's time to race with your new matches!</h1>
</div>

<div class="container col-md-5">
  <div class="card mt-4" style="background: transparent; border: none;">
    <div class="card-body matchProfile" id="userInfo" style="border: none">
      <div id="userData"></div>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"
  integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script>
<script src="/js/matches.js"></script>