<div class="container-fullwidth" id="navbarHeader">
    <img class="logoImg" src="https://www.pngrepo.com/png/126491/170/traffic-light.png" height="50px" width="50px">
    {{!-- <li class="nav-item active">
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <button onclick="signOut()">sign out</button>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Sign up</a>
        </li> --}}
</div>

<div class="container">
    <h1 id="questionH1">Tell us more about yourself so we can help you find people just as passionate about HP and
        Torque as you are</h1>
</div>

<div class="container question-page col-md-9">
    <form class="form question-form">
        <h5>First, the basics</h5>
        <input type="text" placeholder="username" />
        <input type="email" placeholder="email adress" />
        <input type="password" placeholder="password" />
        <h5>Now lets get to know you better</h5>
        <input type="text" placeholder="text" />
        <input type="text" placeholder="text" />
        <input type="text" placeholder="text" />
        <input type="text" placeholder="text" />
        <input type="text" placeholder="text" />
        <input type="text" placeholder="text" />
        <input type="text" placeholder="text" />
        <button>Submit</button>
    </form>
</div>
</div>
</div>
