<div class="container-fullwidth" id="navbarHeader">
    <img class="logoImg" src="https://www.pngrepo.com/png/126491/170/traffic-light.png" height="50px" width="50px">
    <a href="/dashboard"> &nbsp; Home </a>
</div>

<div class="container">
    <h1 id="questionH1">Tell us more about yourself so we can help you find people just as passionate about HP and
        Torque as you are</h1>
</div>

<div class="container question-page col-md-9">
    <form class="form question-form">
        <h5>First, the basics</h5>
        <input id="username" type="text" placeholder="username" aria-label="username" />
        <input id="email" type="email" placeholder="email adress" aria-label="email" />
        <input id="password" type="password" placeholder="password" aria-label="password" />
        <input id="confirm-password" type="password" placeholder="confirm password" aria-label="confirm password" />
       
        <button id="signup-btn">Submit</button>
    </form>
</div>

<script src="/js/signup.js"></script>