<div class="container-fullwidth" id="navbarHeader">
    <img class="logoImg" src="images/traffic-light-pngrepo-com.png" height="50px" width="50px">
    <a href="/logout">&nbsp; Log out</a>
</div>

<div id="emptyInputModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ruh Roh!</h5>
            </div>
            <div class="modal-body">
                <p>All forms must be filled out</p>
            </div>
            <div class="modal-footer">
                <button id="emptyInputClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container question-page col-md-9">
    <form class="form question-form">
   
        <h5>Now lets get to know you better</h5>
        <input id="carInput" type="text" placeholder="What kind of car are you driving? (make/model)" />
        <input id="imgInput" type="text" placeholder="URL to a photo of your car" />
        <input id="cityInput" type="text" placeholder="Where do you live? (City,St)" />
        <input id="aboutInput" type="text" placeholder="Tell us about yourself (max 255 characters)" />
       
        <button id="submit-btn">Submit</button>
    </form>
</div>

<script src="/js/questionaire.js"></script>