<div class="container-fullwidth" id="navbarHeader">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
        <div class="row">
                <div class="col text-center">
                        <h1>Log In</h1>
                </div>
        </div>
        <div class="row">
                <div class="col-6 offset-3">
                        <form id="signin" name="signin" method="post" action="signin">
                                <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input id="email" class="form-control" name="email" type="text" />
                                </div>
                                <div class="form-group">
                                        <label for="password">Password</label>
                                        <input id="password" class="form-control" name="password" type="password" />
                                </div>
                                <input id="signin-btn" class="btn btn-primary" type="submit" value="Sign In" />
                        </form>
                        <p class="mt-2">Don't have an account? <a href="/signup">Sign Up!</a></p>
                </div>
        </div>
</div>
<script src="/js/signin.js"></script>