<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script>

<input type="number" name="number" id="number">
<button id="submit-yes" onclick="submit('yes')">yes</button>
<button id="submit-no" onclick="submit('no')">no</button>

<script src="/js/test.js"></script>